* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

header {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: burlywood;
  height: 2rem;
}

.header_items h4 {
  margin: 0;
  padding: 0;
  display: inline;
}

.header_items a:hover,
.header_items a,
.header_items a:visited {
  text-decoration: none;
  color: turquoise;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  margin: 0 0 0 0;
  flex-direction: column;
  background-color: blanchedalmond;
}

.login_container {
  width: 30vw;
  height: 50vh;
  border: black 1px;
  border-style: solid;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px black;
  background-color: white;
}

.login_items {
  width: 100%;
  text-align: center;
}

.login_items h2 {
  color: turquoise;
}

#login {
  margin-top: 1rem;
  padding: 0.1rem 2rem;
  width: 10rem;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 100;
}

.error-modal {
  width: 20%;
  height: 20%;
  position: absolute;
  background-color: white;
  z-index: 101;
  border: black 1px;
  border-style: solid;
  border-radius: 1rem;
  text-align: center;
}

.error_modal_items {
  margin-top: 20%;
}

.close {
  display: none;
}

.open {
  display: block;
}
