.add_notes {
  width: 30%;
  height: 10%;
  background-color: white;
  border: black 0.5px;
  border-style: solid;
  box-shadow: 1px 1px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_notes_button {
  margin-left: 10px;
  background-color: teal;
}

.to_do_list {
  width: 30%;
  height: 70%;
  background-color: white;
  margin-top: 2rem;
  border: black 0.5px;
  border-style: solid;
}

.to_do_list_items {
  display: flex;
  height: 4rem;
  background-color: turquoise;
  border-bottom: 1px solid black;
  align-items: center;
}

.avatar {
  height: 3rem;
  width: 3rem;
  background-color: coral;
  border-radius: 50%;
  margin: 0.5rem;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar_text {
  /* vertical-align: middle; */
}

.note {
  padding-left: 2rem;
  padding: 10px;
}
